Beta/GenderPayGap/App_Data/CustomErrorMessages.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CustomErrorMessages">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="CustomErrorMessage">
          <xs:complexType>
            <xs:attribute name="code" type="xs:unsignedShort" use="required" />
            <xs:attribute name="title" type="xs:string" use="required" />
            <xs:attribute name="description" type="xs:string" use="optional" />
            <xs:attribute name="callToAction" type="xs:string" use="optional" />
            <xs:attribute name="actionUrl" type="xs:string" use="optional" />
            <xs:attribute name="actionText" type="xs:string" use="optional" />
            <xs:attribute name="validator" type="xs:string" use="optional" />
            <xs:attribute name="displayName" type="xs:string" use="optional" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>